---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import PostList from "../../components/PostList.astro"
import Pager from "../../components/Pager.vue"
const { path } = Astro.params
const [tag, page = '1'] = (path as string).split('/')

const totalRargetPosts = (await getCollection('blog', ({ data }: CollectionEntry<'blog'>) => data.tags.includes(tag))).map((value): Post => {
	return {
		...value.data,
		slug: value.slug
	}
})

const start = (parseInt(page)-1)
const end = start + 5
const totalPages = Math.ceil(totalRargetPosts.length / 5)

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog')
  const allTags = [
    ...new Set(blogPosts.flatMap(post => post.data.tags))
  ]
  const allSlugs: any[] = []
  allTags.forEach((tag: string) => {
    const targetPosts = blogPosts.filter((value) => value.data.tags.includes(tag))
    const numberOfPosts = Math.ceil(targetPosts.length / 5)
    allSlugs.push({
      params: { path: `${tag}` }
    })
    Array.from({ length: numberOfPosts }, (_, index) => index + 1).forEach((page: number) => {
      allSlugs.push({
        params: { path: `${tag}/${page}` }
      })
    })
  })
  return allSlugs
}
 
---

<Layout>
  <div class="container">
    <h1>{tag.toUpperCase()}</h1>
    <div class="_flex _column">
      <PostList tag={tag} page={page} />
    </div>
    <Pager
      totalPages={totalPages}
      currentPage={parseInt(page)}
      slug={`/tag/${tag}/`}
    />
  </div>
</Layout>